* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter-Italic;
    src: url(../font/Inter_28pt-Italic.ttf);
}

@font-face {
    font-family: Orbitron-Bold;
    src: url(../font/Orbitron-Bold.ttf);
}

:root {
    --spacing-sm:10px;
    --spacing-md:20px;
    --spacing-lg:30px;
    --color-space-blue: #070B14;
    --color-space-purple: #2A1F45;
    --color-white: #E2E8F0;
    --color-gray:#94A3B8;
}

body {
    background-color: var(--color-space-blue);
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter-Italic';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-white);
}

p {
    color: var(--color-white);
    font-size: 2vmin;
    text-align: justify;
}

#main-header {
    height: auto;
    padding-block: var(--spacing-md);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--spacing-lg);
    background-color: var(--color-space-purple);

    h1 {
        color: var(--color-gray);
        font-weight: bold;
        font-size: 7vmin;
        font-family: 'Orbitron-Bold';
    }

    .nav-header-menu {
        display: flex;
        gap: var(--spacing-md);
    }
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
    gap: var(--spacing-md);
    margin-inline: var(--spacing-lg);

    h2 {
        color: var(--color-gray);
        font-size: 4vmin;
        font-family: 'Orbitron-Bold';
        text-align: center;
        padding-bottom: var(--spacing-md);
    }

    .project-image {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);

        img {
            width: 100%;
        }
    }
        .project-problem {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-sm);
        }

}

#footer-team {
    height: 100px;
    font-size: 1.5vmin;
    text-align: center;
    padding: var(--spacing-lg);
    background-color: var(--color-space-purple);
    color: var(--color-white);
}